<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by {{name}} using mapbox and weatherstack APIs .</p>
        <p> This application is launched in heroku .</p>
        <p>This websites main objective is to make weather application in which you put the location and it publishes
            its weather according to the live APIs</p>
        <img class="portrait" src="/img/me.jpeg">
    </div>

    {{>footer}}
</body>

</html>